<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <div class="main-container">
        <div class="login-container">
            <h1>Enter your email Address</h1>
            <form class="form-container">
                <div class="form-items">
                    <input type="text" id="username" name="username" required
                    placeholder="Email Address">
                </div>
                <div class="btn-container">
                    <button class="btn-submit" type="submit">Send password reset link</button>
                    <div class="link-container">
                        <a routerLink="/">Login instead?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
