<!-- navbar section -->
<div class="container-fluid navbar-section">
  <div class="navbar-wrapper">
    <div class="navbar-logo">
      <a href="#" class="navbar-logo-link">
        <img
          src="/assets/navbar/navbar-logo.svg"
          alt="logo"
          class="navbar-logo-img"
        />
      </a>
    </div>
    <div class="navbar-links">
      <a href="#" class="navbar-link">Home</a>
      <a href="#" class="navbar-link">About Us</a>
      <a href="#" class="navbar-link">Portfolio</a>
      <a href="#" class="navbar-link">Services</a>
    </div>
    <div class="navbar-btn-wrapper">
      <a href="#" class="navbar-btn"
        ><img
          class="mail-icon"
          src="/assets/navbar/mail-icon.svg"
          alt="contact-icon"
        />
        <span>Contact Us</span></a
      >
    </div>
  </div>
</div>
<!-- mobile navbar -->
<div class="navbar-section-mobile">
  <div class="logo-n-ham-wrapper">
    <div class="navbar-logo-mobile">
      <a href="#" class="navbar-logo-link">
        <img
          src="/assets/navbar/navbar-logo.svg"
          alt="logo"
          class="navbar-logo-img"
        />
      </a>
    </div>
    <!-- hamburger button -->
    <div class="hamburger-btn-wrapper">
      <div class="hamburger-btn"></div>
    </div>
  </div>
  <div id="myNav" class="overlay">
    <!-- navbar links -->
    <div class="overlay-content">
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Portfolio</a>
      <a href="#">Services</a>
    </div>
  </div>
</div>
